canvas{
    margin-left: -7em;
}
body {
    margin-top: 10vh;
    padding-left: auto;
    padding-right: auto;
    margin-left: 45vh;
    margin-right: 10vh;
    width: 800px;
}
.endgame{
    color: red;
    padding-left: 51em;
    padding-bottom: 8em;
}
.startbutton {
    color: cyan;
    background: black;
    display: flex;
    flex-direction: column;
    margin-left: 44vh;
    margin-top: 20vh;
    align-items: center;
}    
header{
    font-size: 30px;
    font-style: italic;
}
button{
    color: red;
}
.gameover, p {
    padding-left: 2em;
}

.gameover {
    color: cyan;
    background: black;
    display: flex;
    flex-direction: column;
    margin-left: 40vh;
    margin-top: 20vh;
    flex-wrap: wrap;
    align-content: center;
}